<html>
<head>
	<title>Tous les bots</title>
</head>
<body>
	<div>
		<form action="/" method="get">
			<input type="submit" value="retour">
		</form>
	</div>
	<div>
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Service</th>
					<th>Cerveau</th>
				</tr>
			</thead>
			<tbody>
				<% botList.forEach( function(item, index, array) { %>
				<tr>
					<td><%= item.name %></td>
					<td><% switch(item.service) {case 0:%> SMS <% break; case 1:%> Discord <% break; default: break; }%></td>
					<td><%= item.brain %></td>
					<td>
						<form action="/bot" method="post">
							<input type="hidden" name="name" value="<%= item.name %>">
							<input type="submit" value="Détails">
						</form>
					</td>
					<td>
						<form action="/deleteBot" method="post">
							<input type="hidden" name="name" value="<%= item.name %>">
							<input type="submit" value="Supprimer">
						</form>
					</td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</body>
</html>