<html>
	<head>
		<title>Détail du bot</title>
	</head>
	<body>
		<div>
			<form action="/" method="get">
				<input type="submit" value="menu">
			</form>
		</div>
		<div>
			<div>
				Nom : <%= bot.name %>
			</div>
			<div>
				Service : <% (bot.service == 0) ? SMS : Discord %>
			</div>
			<div>
				Token : <%= bot.token %>
			</div>
			<div>
				Cerveau : <%= bot.brain %>
			</div>
		</div>
		<div>
			<form action="/modifieBot" method="get">
				<input type="submit" value="modifier">
			</form>
		</div>
	</body>
</html>