<html>
	<head>
		<title>Détail du bot</title>
	</head>
	<body>
		<div>
			<form action="/" method="get">
				<input type="submit" value="menu">
			</form>
		</div>
		<div>
			<div>
				Nom : <%= bot.name %>
			</div>
			<div>
				Services :
				<table>
					<thead>
						<tr>
							<th>service</th>
							<th>token</th>
						</tr>
					</thead>
					<tbody>
					<% bot.services.forEach(function(elt) { %>
						<tr>
							<td>
								<% if(elt.type == 0) { %> SMS <% } else if(elt.type == 1) { %> DISCORD <% }%>
							</td>
							<td>
								<%= elt.token %>
							</td>
						</tr>
					<% }) %>
					</tbody>
				</table>
			</div>
			<div>
				Cerveaux :
				<% bot.brains.forEach((elt) => { %>
				<div>
					<%= elt %>
				</div>
				<% }) %>
			</div>
		</div>
		<div>
			<form action="/modifieBot" method="get">
				<input type="submit" value="modifier">
			</form>
		</div>
	</body>
</html>