<html>
	<head>
		<title>Home</title>
	</head>
	<body>
		<div>
			<form action="/newBot" method="get">
				<input type="submit" value="Créer un bot">
			</form>
			<form action="/allBots" method="get">
				<input type="submit" value="Voir tous les bots">
			</form>
		</div>
	</body>
</html>