<html>
<head>
	<title>Modification du bot</title>
</head>
<body>
	<div>
		<form action="/" method="get">
			<input type="submit" value="menu">
		</form>
	</div>
	<div>
		<form action="/modifieBot" method="post">
			<input type="hidden" name="id" value="<%= bot.name %>">
			<div>
				Nom : 
				<input type="text" name="name" value="<%= bot.name %>">
			</div>
			<div>
				Service :
				<select name="service">
					<option value=0>SMS</option>
					<option value=1>Discord</option>
				</select>
			</div>
			<div>
				Token :
				<input type="text" name="token" value="<%= bot.token %>">
			</div>
			<div>
				Cerveau : 
				<input type="text" name="brain" value="<%= bot.brain %>">
			</div>
			<input type="submit" value="Enregistrer">
		</form>
	</div>
</body>
</html>