<html>
	<head>
		<title>Nouveau bot</title>
	</head>
	<body>
		<div>
			<form action="/" method="get">
				<input type="submit" value="retour">
			</form>
		</div>
		<div>
			<form action="/newBot" method="post">
				<div>
					Nom :
					<input type="text" name="name">
				</div>
				<div>
					Service :
					<select name="service">
						<option value=0>SMS</option>
						<option value=1>Discord</option>
					</select>
				</div>
				<div>
					Token :
					<input type="text" name="token">
				</div>
				<div>
					Cerveau :
					<select name="brain">
						<option value="standard.rive">standard</option>
						<option value="dumbSteeve.rive">dumb Steeve</option>
						<option value="Botounet.rive">Botounet</option>
					</select>
				</div>
				<input type="submit" value="Créer">
			</form>
		</div>
	</body>
</html>