<html>
	<head>
		<title>Nouveau bot</title>
	</head>
	<body>
		<div>
			<form action="/" method="get">
				<input type="submit" value="retour">
			</form>
		</div>
		<div>
			<form action="/newBot" method="post">
				<div>
					Nom :
					<input type="text" name="name">
				</div>
				<div>
					Connexions :
					<input type="text" name="connections">
				</div>
				<div>
					Cerveau :
					<input type="text" name="brain">
				</div>
				<input type="submit" value="Créer">
			</form>
		</div>
	</body>
</html>