<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Conversation</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    	<div class="w-50 mx-auto">
    		<% conv.messageList.forEach(function(elt) { %>
    		<div>
    			<%= elt.author %> : <%= elt.message %>
    		</div>
    		<% }) %>
    		<form action="/conv" method="post">
    			<input type="hidden" name="userName" value="<%= conv.userName %>">
				<div>
					<input type="text" name="message" class="form-control mt-3">
				</div>
				<div>
					<input type="submit" value="Envoyer" class="btn btn-primary">
				</div>
			</form>
		</div>
    </body>
</html>
